<%- include('content/header') -%>

<div class="container">
  <div class="formulario">
    <h2>Fim</h2>

      <br><br><br>
        <p>
          Muito Obrigado!
        </p><br>
        <p>
          Deseja fazer um novo pedido?
        </p>

      <br><br><br>
        <div class="botao">
        <button class="button"><a href="/">Início</a></button>
      </div>
    </form>
  </div>
</container>

<%- include('content/footer-scripts') -%>

