<%- include('content/header') -%>

    <div class="container">
      <section class="formulario">
        <h2>Bem Vindo!</h2>

        <br><br><br>
        
          <p>
            Olá, seja bem vindo ao formulário de adesivos.
          </p><br>
          <p> 
            Clique no botão para seguir para o preenchimento...
          </p>

        <br><br><br>
        <div class="botao">
          <button class="button"><a href="/forms">Próximo</a></button>
        </div>
          </div>
        </form>
      </div>
    </div>
 

<%- include('content/footer-scripts') -%>